<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>DisplayStudentsServlet</servlet-name>
        <servlet-class>DisplayStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksServlet</servlet-name>
        <servlet-class>MarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayStudentsServlet</servlet-name>
        <url-pattern>/DisplayStudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksServlet</servlet-name>
        <url-pattern>/MarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
</web-app>
